.elo
  &.-right-cr
    border-top-right-radius: 0
    border-bottom-right-radius: 0
  &.-left-cr
    border-top-left-radius: 0
    border-bottom-left-radius: 0
  &.-cr
    border-radius: 0
  &.-child-cr
    > *
      border-radius: 0
  &.-right-bn
    border-right: none
  &.-left-bn
    border-left: none
