:root
  --routeeColorPrimary: #409eff
  --routeeColorSecondary: rgb(140, 197, 255)
  --routeeColorThirdry: rgb(217, 236, 255)
  --routeeColorBlack: #606266
  --routeeColorSuccess: #67c23a
  --routeeColorSuccessSecondary: #e1f3d8
